<ion-view >
  <ion-nav-bar>
    <ion-nav-title>Adam
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <a class="button button-icon icon ion-android-share-alt" href="#">
      </a>
      <a class="button button-icon icon ion-android-person-add" href="#">
      </a>
      <a class="button button-icon icon ion-android-more-vertical" href="#">
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="has-header">
    <!-- profile info -->
    <div class="row">
      <div class=" col col-33 col-center">
          <img src="img/adam.jpg" class="profile-avatar">
      </div>
      <div class="col col-75">
        <div class="row ">
          <div class="col col-25 no-max-width">
            <span class="bold-number">20</span> <br> posts
          </div>
          <div class="col col-25 no-max-width">
            <span class="bold-number">73</span> <br>followers
          </div>
          <div class="col col-25 no-max-width">
            <span class="bold-number">140</span> <br>following
          </div>
        </div>
        <button class="button button-stable edit-profile-button">Edit your profile</button>
      </div>
    </div>
    <div class="row profile-username">
      <h4>Adam</h4>
    </div>
    <!-- end of profile info -->

    <!-- view options -->
    <div class="row profile-border">
      <div class="col col-25 center-align" ng-class="{active: tabs.grid == true }" ng-click="grid()">
        <i class="icon ion-grid" ></i>
      </div>
      <div class="col col-25 center-align" ng-class="{active: tabs.list == true }" ng-click="list()">
        <i class="icon ion-ios-list-outline " ></i>
      </div>
      <div class="col col-25 center-align">
        <i class="icon ion-person-stalker"></i>
      </div>
      <div class="col col-25 center-align">
        <i class="icon ion-bookmark"></i>
      </div>
    </div>
    <!-- end of view options -->

    <!-- view modes -->
    <div ng-if="tabs.grid" ng-init="loadGridImages()">
      <div class="row" ng-repeat="image in images" ng-if="$index % 3 === 0">
          <div class="col col-33" ng-if="$index < images.length">
              <img ng-src="{{images[$index].src}}" width="100%" />
          </div>
          <div class="col col-33" ng-if="$index + 1 < images.length">
              <img ng-src="{{images[$index + 1].src}}" width="100%" />
          </div>
          <div class="col col-33" ng-if="$index + 2 < images.length">
              <img ng-src="{{images[$index + 2].src}}" width="100%" />
          </div>
      </div>
    </div>
    <div ng-if="tabs.list" ng-init="loadListImages()">
      <div class="list" ng-repeat="post in posts">

        <div class="item item-avatar">
          <img ng-src="{{posts[$index].avatar}}">
          <h2>{{post.username}}</h2>
        </div>
        <img class="full-image" ng-src="{{posts[$index].picture}}">
        <div class="padding">

          <p>
            <i class="icon ion-android-favorite-outline" ng-click="click_like()"></i>
            <i class="icon ion-android-chat"></i>
            <i class="icon ion-android-send"></i>
          </p>
          <p class="post-like">
            <i class="ion-android-favorite"></i>
            {{post.like}} likes
          </p>
          <p>
            <span class="user-nickname">{{post.commenter}}</span>
            <span class="comment-text"> {{post.comment}}</span>
          </p>
          <p class="view-comments">
            View all {{post.number_of_comment}} comments
          </p>
          <p class="post-time">
            {{post.time_of_comment}} HOURS ago
          </p>
        </div>

      </div>
    </div>
    <!-- end of view modes -->
  </ion-content>
</ion-view>
