<ion-view >
  <ion-nav-bar>
    <ion-nav-title>Adam
    </ion-nav-title>
    <ion-nav-buttons side="right">
      <a class="button button-icon icon ion-android-share-alt" href="#">
      </a>
      <a class="button button-icon icon ion-android-person-add" href="#">
      </a>
      <a class="button button-icon icon ion-android-more-vertical" href="#">
      </a>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="has-header">
    <!-- profile info -->
    <div class="row padding">
      <div class="item-avatar col col-33 col-center">
          <img class="profile-avatar" src="img/adam.jpg">
          <br>
          <h4>Adam</h4>
      </div>
      <div class="col col-75">
        <div class="row ">
          <div class="col col-25 no-max-width">
            <span class="bold-number">20</span> <br> posts
          </div>
          <div class="col col-25 no-max-width">
            <span class="bold-number">73</span> <br>followers
          </div>
          <div class="col col-25 no-max-width">
            <span class="bold-number">140</span> <br>following
          </div>
        </div>
        <button class="button button-stable edit-profile-button">Edit your profile</button>
      </div>
    </div>
    <!-- end of profile info -->

    <!-- view modes -->
    <div class="row profile-border">
      <div class="col col-25 center-align">
        <i class="icon ion-grid"></i>
      </div>
      <div class="col col-25 center-align">
        <i class="icon ion-ios-list-outline "></i>
      </div>
      <div class="col col-25 center-align">
        <i class="icon ion-person-stalker"></i>
      </div>
      <div class="col col-25 center-align">
        <i class="icon ion-bookmark"></i>
      </div>
    </div>
    <!-- end of view modes -->
  </ion-content>
</ion-view>
