<ion-view cache-view="false">
<ion-header-bar align-title="left" >
    <div class="buttons" >
        <button class="button button-icon ion-ios-close-empty" ng-click="goBack()">   Photo</button>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
        <button class="button button-clear button-calm" ng-click="confirmPost()">Next</button>
    </div>
</ion-header-bar>

  <ion-content class="padding">

    <div ng-if="tabs.gallery">
      <button class="button button-full button-calm" ng-click="gallery()">
          Choose Photo
      </button>
      <div>
          {{ uploadResults }}
      </div>
    </div>

    <div ng-if="tabs.photo">
      <div>
          Picture uri:<br>
          {{ picture }}
          <div>
            <img ng-src="{{picture}}" style="max-width: 100%">
          </div>
      </div>
    </div>

    <button class="button button-balanced" ng-click="testConnection()">
          Test server connection
    </button>
    <div>{{ serverConnection }}</div>

  </ion-content>

  <div class="tabs tabs-light">
    <a class="tab-item" ng-class="{active: tabs.gallery == true }" ng-click="gallery()">
        Gallery
    </a>
    <a class="tab-item" ng-class="{active: tabs.photo == true }" ng-click="photo()">
        Photo
    </a>
  </div>
</ion-view>
