<ion-view title="Heart">
<ion-tabs class="tabs-striped tabs-top tabs-background-stable go-top">

        <ion-tab title="following" ui-sref="tab.heart.following">

        </ion-tab>

        <ion-tab title="you" ui-sref="tab.heart.you">

        </ion-tab>

</ion-tabs>
<ui-view name="heart-page"></ui-view>
</ion-view>
<!-- 2nd way of making subtabs -->
<!-- <div class="tabs-striped tabs-top tabs-background-stable">
  <div class="tabs">
    <a class="tab-item" ui-sref="tab.heart.following">
      following
    </a>
    <a class="tab-item" ui-sref="tab.heart.you">
      you
    </a>
  </div>
</div>
<ui-view name="heart-page"></ui-view> -->
