<ion-view >
  <ion-content class="has-tabs-top padding">
    <div class="list">

    <a class="item item-avatar" href="#">
      <img src="img/adam.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/adam.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/adam.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
    <a class="item item-avatar" href="#">
      <img src="img/adam.jpg">
      <h2>Venkman</h2>
      <p>Back off, man. I'm a scientist.</p>
    </a>
</div>
  </ion-content>
</ion-view>
